<h1 class="center content-title">Create</h1>

<form class="form-horizontal">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alertClose($index)">{{alert.msg}}</alert>

    <div class="form-group">
        <div>
          <tags-field input-tags="receivers" validate-function="validateEmail"></tags-field>
        </div>
    </div>
    <div class="form-group">
        <div>
            <input ng-model="title" type="text" class="form-control" id="title" name="title" placeholder="Enter message title" value="">
        </div>
    </div>
    <div class="form-group">
        <div>
            <textarea ng-model="content" class="form-control" rows="16" name="content" placeholder="Enter message content"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div>
            <input id="submit" name="submit" type="submit" value="Send" class="center btn btn-primary" ng-click="send()">
        </div>
    </div>
</div>
